body {
  background: #202028;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
}

canvas {
  border: solid .2em white;
  height: 90vh;
  max-height: 720px;
}